node_modules/
.env
.env.local
.env.*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist
build
out

.DS_Store
Thumbs.db


.vscode/
.idea/
*.sublime-workspace


*.tgz
*.lock
package-lock.json
yarn.lock

ehthumbs.db
Icon?